<div class="full">
	<div class="alert alert-error ">
	<h2> <%= @alert.message %></h2>
	<p>You are approaching dangerous roads.<p>
	<p>Use caution.</p>
	</div>
	<%= link_to 'Hide', pages_path , :class => 'btn btn-inverse' %>
</div>