<!DOCTYPE html>
<html>
<head>
  <title>SafeRoadMaps</title>
  <%= stylesheet_link_tag    "320andup", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="swatch-base swatch-row-one" >
<div class="n4">
<img src="/assets/logo.png" />
</div>
</div>
<%= yield %>

</body>
</html>
